In [17]:
# To generate an algorithm and python program to represent
# data in a tabular form. 

Girls_name = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary' ,'Susan' , 'Waje' , 
              'Taibat', 'Lilian']

Girls_age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]

Girls_height= [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]

Girls_scores= [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

for pick in Girls_name:
    print(pick, Girls_name[pick])
    
print("\n")

for pick in Girls_age:
    print(pick, Girls_age[pick])
    
print("\n")

for pick in Girls_height:
    print(pick, Girls_height[pick])
    
print("\n")

for pick in Girls_score:
    print(pick,  Girls_score[pick])

TypeError: list indices must be integers or slices, not str